
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(image/dog.webp);
}

.container{
    display: flex;
    justify-content: center;
    
}

button{
    font-size: 30px;
    border-radius: 10px;
    color: rgb(139, 137, 134);
    border: none;
    margin: 20px;
    padding:10px;
}

.dog{
    border: 2px;
    text-align: center;
    
}

.h1{
    margin: auto;
    text-align: center;
    font-size: 40px;
    padding: 10px;
}


